<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="images/logo32.png" alt="Company Logo">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading text-primary">
            {{ job.jobTitle }}
            <label class="label label-warning pull-right" ng-if="job.startDate">start on: {{ job.startDate }}</label>
        </h4>
        
        <p class="like-pre text-primary">
                {{ job. jobDescription }}
        </p>

        <label ng-if="job.location">
            {{ job.location }}
        </label>
        
        <div class="toolbar row">
            <div class="col col-xs-6">
                <label>Wage / Salary:</label>
                <label class="label label-info" ng-if="job.setWage">${{ job.setWage }}</label>

                <div ng-if="job.minimumWage || job.maximumWage"
                    class="text-center">
                    <label class="job.minimumWage label label-info pull-left"
                        ng-if="job.minimumWage">
                        min: ${{ job.minimumWage }}
                    </label>
                    
                    <label class="label label-primary">{{ bidAmount }}</label>
                    <label class="job.maximumWage label label-info pull-right">
                        max: ${{ job.maximumWage }}
                    </label>
                    <input class="bidAmount" type="range" ng-model="bidAmount"
                        min="{{ job.minimumWage }}" max="{{ job.maximumWage }}" step="1" />
                </div>

            </div>

           <div class="col col-xs-6 text-right">
                <div class="well well-sm text-left">
                    <label class="text-primary">Required Skills:</label> <br />
                    <label class="label label-warning" ng-if="!job.skills.length"><em>None</em></label>
                    <button class="btn btn-xs btn-success" style="margin-right: 5px;"
                        ng-repeat="skill in job.skills" ng-hide="skill.delete">{{ skill.name }}</button>    
                </div>
                
                <button ng-if="job.userId != user.userId" 
                    ng-click="addBid(job)" ng-disabled="job.userBid"
                    class="btn btn-sm " ng-class="{ 'btn-success': !job.userBid,
                    'btn-warning': job.userBid }">
                        <span ng-if="!job.userBid"><i class="fa fa-send"></i> Apply</span>
                        <span ng-if="job.userBid">Applied on
                            {{ job.userBid.createdAt | date: 'MM/dd/yy' }}</span>
                </button>
                <button ng-if="job.userId == user.userId"
                    ng-click="showBids(job, user)"
                    class="btn btn-sm btn-info"><i class="fa fa-money"></i> View Bids</button>
                <button ng-if="job.userId == user.userId"
                    ng-click="startEdit()"
                    class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Edit</button>
            </div>
        </div>
    </div>
</div>
