<form class="form-horizontal modal fade" tabindex="-1" role="dialog" ng-submit="submit()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required
                            ng-model="form.email">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': formError=='password' }">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required
                            ng-model="form.password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <pre class="alert alert-danger" ng-if="error">{{ error }}</pre>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn"
                    ng-class="{ 'btn-primary': status=='standby', 'btn-success': status=='success', 'btn-default': status=='waiting' }" 
                    ng-disabled="status=='waiting' || status=='success'" 
                    ng-switch="status">
                    <span ng-switch-when="standby"><i class="fa fa-send"></i> Sign In</span>
                    <span ng-switch-when="success"><i class="fa fa-ok"></i> Success!</span>
                    <span ng-switch-when="waiting"><i class="fa fa-spinner fa-spin"></i> Signing in...</span>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->