<form class="form-horizontal modal fade" tabindex="-1" role="dialog" ng-submit="submit()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Bids</h4>
            </div>
            <div class="modal-body">
                <!-- fill in body data -->
                <div ng-repeat="bid in bids">
                    <p>Bid Id: {{ bid.bidId }}</p>
                    <p>Amount: {{ bid.amount }}</p>
                    <p>Employee Id: {{ bid.userId }}</p>
                    <p>Job Id: {{ bid.jobId }}</p>
                    <p>created at: {{ bid.createdAt }}</p>
                    <button type="button" class="btn btn-default">Accept</button>
                    <button type="button" class="btn btn-default">Decline</button>
                </div>
            </div>
            <div class="modal-footer">
                <pre class="alert alert-danger" ng-if="error">{{ error }}</pre>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->