<form class="form-horizontal modal fade" tabindex="-1" role="dialog" ng-submit="submit()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Bids</h4>
            </div>
            <div class="modal-body">
                <!-- fill in body data -->
                <div ng-repeat="bid in bids" class="list-group-item">
                    <div class="row">
                    <div class="col col-xs-12">
                        <h4> {{ bid.user.firstName }} {{ bid.user.lastName }}</h4>

                        <iframe class="linkedinWidgetBlock" style="width: 100%;
                            height: 180px;"
                            ng-if="bid.user.linkedin"
                            src="{{ getSource(bid.user.linkedin) }}"></iframe>

                    </div>
                    <div class="col col-xs-12 text-right">
                        <div>
                            <label class="badge">{{ bid.createdAt |date:'MM/dd/yy hh:mm' }}</label>
                            <label>Bid Price:</label>$ <label class="label
                                label-success">{{ bid.amount}}</label>
                            
                        </div>
                        <button type="button" class="btn btn-sm"
                            ng-class="{ 'btn-success': bid.accepted, 'btn-info':!bid.accepted }"
                            ng-disabled="bid.accepted || bid.declined"
                            ng-click="acceptBid(bid)">Accept</button>
                        <button type="button" class="btn btn-sm btn-danger"
                            ng-class="{ 'btn-danger': bid.declined,'btn-warning': !bid.declined }"

                            ng-disabled="bid.declined || bid.accepted"
                            ng-click="declineBid(bid)">Decline</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <pre class="alert alert-danger" ng-if="error">{{ error }}</pre>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->
